{% load static %}
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">
                    视频播放
                </h4>
                <h4><a href="{% url 'tables' %}" style="text-decoration:none;">返回</a></h4>
                <video src="{% static 'video/movie.ogv' %}" controls="controls"></video>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </div>
</div>
<script>
</script>